.cadastro1{
    display: flex;
    float: left;
    width: 40%;
    height: 60%;
    font-size: 19pt;
    background-color: rgb(24, 24, 24);
    color :rgb(255, 255, 255);
    font-size: 14pt;
    display: block;
    text-align:center;
    margin:10% 0 9% 30%;
    border-radius: 15px;
}
.cadastro1 section{
    margin-top: 20%;
}
.cadastro1 h1{
    display: block;
    font-size: 30pt;
    margin:7% 0 5% -5%;
}
.cadastro1 label{
  display: block;
  margin-top: 2%;
}

.cadastro1 input{
    width: 60%;
    height: 3.5em;
    border-radius: 13px;
    font-size: 11pt;
}


.cadastro1 button{
    margin-top: 2%;
    font-size: 15px;
    color: white;
    width: 60%;
    height: 3.5em;
    border-radius: 13px;
    background-color: rgb(127, 30, 218);
    padding-left: -10%;
}

.erro {
    color:  red;
}
.cadastro1 a{
    text-decoration: none;
    color: blueviolet;
}

@media (max-width:600px){
    .cadastro1{
        width: 90%;
        margin-left: 5%;
    }
    .cadastro1 section{
        margin-left: 21%;
    }
}