/* para desktop*/
/*parte esquerta do site */
.corpo h1{ 
    display: flex;
  
    font-size:48pt;
    margin: 12% 0 0 12.75%;
  
}
.corpo p{
    display: flex;
    margin:3% 0 0 13%;
}

.mudar{
    background-color: red;
}

/* parte direita do site */

.dir{  
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 50%;
    
  
}
.dir img{
    width: 55%;   
    margin-top: -62%;
}
img#mobile{
  display: none;
}
@media (max-width:1600px) {
     img#mobile{
         display: none;
     }  
}

/*aqui para o celular */

@media (max-width:380px) {
    .corpo h1{
        text-align:center;
        font-size:22pt;
        margin: 80% 0 0 15%;
        width: 70%;
    } 

    .corpo p{
        font-size: 11pt;
        display: flex;
        margin:3% 0 0 1%;
        line-height: 25px;
        text-align:center;
    }
   
    .dir{
        position: relative;  
        display: flex;
        justify-content: center;
        width: 55%;
        margin-top: -115%;
        margin-left: 20%;
       
    }
    img#desktop{
        display: none;
    } 
    img#mobile{
        display:flex;
        width: 150%;
        margin-top:-30%;
    }
}

@media (max-width:600px) {
    .dir{
       
       
        display: flex;
        width: 40%;
        margin:-92% 0 0 30%;
        
    
    }
    img#mobile{
       
        display:flex;
        width: 220%;
        margin:-65% 0 0 -6%;
        
    }
    .corpo h1{
        
        display: flex;
        text-align:center;
        justify-content: center;
        font-size:30pt;
        margin: 75% 0 0 6%;
        width: 87%;
       
    } 

    .corpo p{
        
        font-size: 13pt;
        width: 87%;
        display: flex;
        justify-content: center;
        margin:5% 0 0 6%;
        line-height: 25px;
        text-align:center;
        
    }
   
   
    img#desktop{
       
        display: none;
    } 
   
}
@media (max-width:530px){
    .corpo h1{
        
        display: flex;
        text-align:center;
        justify-content: center;
        font-size:25pt;
        margin: 80% 0 0 6%;
        width: 87%;
       
    } 
    .corpo p{
        
        font-size: 13pt;
        width: 87%;
        display: flex;
        justify-content: center;
        margin:5% 0 0 6%;
        line-height: 25px;
        text-align:center;
        
    }
   
    img#mobile{
       
        display:flex;
        width: 230%;
        margin:-100% 0 0 -1%;
        
    }
}
@media (max-width:420px) {

    .corpo h1{
        text-align:center;
        justify-content: center;
        font-size:25pt;
        margin: 120% 0 0 11%;
        width: 90%;
       
    } 

    .corpo p{
        font-size: 14pt;
        width: 120%;
        display: flex;
        justify-content: center;
        margin:5% 0 0 0%;
        line-height: 25px;
        text-align:center;
        
    }
   
    .dir{
        
        display: flex;
        justify-content: center;
        width: 55%;
        margin:-150% 0 0 20%;
       
    }
    img#desktop{
        display: none;
    } 
    img#mobile{
       
        display:flex;
        width: 220%;
        margin:-30% 0 0 40%;
       
    }
}
