/* para desktop*/
/*parte esquerta do site */
.corpo h1{ 
    display: flex;
  
    font-size:48pt;
    margin: 12% 0 0 12.75%;
  
}
.corpo p{
    display: flex;
    margin:3% 0 0 13%;
}

.mudar{
    background-color: red;
}

/* parte direita do site */

.dir{  
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 50%;
    
  
}
.dir img{
    width: 55%;   
    margin-top: -62%;
}
@media (max-width:1600px) {
     img#mobile{
         display: none;
     }  
}
/*aqui para o celular */

@media (max-width:380px) {
    .corpo h1{
        text-align:center;
        font-size:22pt;
        margin: 80% 0 0 15%;
        width: 70%;
    } 

    .corpo p{
        font-size: 11pt;
        display: flex;
        margin:3% 0 0 1%;
        line-height: 25px;
        text-align:center;
    }
    .corpo{
       
    }
    .dir{
        position: absolute;  
        display: flex;
        justify-content: center;
        width: 55%;
        margin-top: -115%;
        margin-left: 20%;
       
    }
    img#desktop{
        display: none;
    } 
    img#mobile{
        display:flex;
        width: 150%;
        margin-top:-30%;
    }
}