.hom{
    width: 40%;
    height: 60%;
    font-size: 19pt;
    background-color: rgb(24, 24, 24);
    color :rgb(255, 255, 255);
    font-size: 14pt;
    position: absolute;
    display: block;
    text-align:center;
    margin:10% 0 0 30%;
    border-radius: 15px;
}
.hom h1{
    display: block;
    font-size: 28pt;
    margin:20% 0 5% -1%;
}
.hom button{
    margin-top: 2%;
    font-size: 15px;
    color: white;
    width: 60%;
    height: 3.5em;
    border-radius: 13px;
    background-color: rgb(127, 30, 218);
    padding-left: -10%;
}