.pg{
    display: flex;
    float: left;
    width: 40%;
    height: 60%;
    font-size: 19pt;
    color :rgb(0, 0, 0);
    text-align:center;
    margin:20% 0 22% 30%;
    border-radius: 15px;
    
}
.pg h1{
    font-size: 25pt;

}
@media (max-width:600px){
    .pg{
        display: flex;
        width: 90%;

        margin:30% 0 0 5%;
    }

}