/*Aqui esta o butão começar do site */

.but button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 4em;
    width: 12em;
    border-radius: 13px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 11pt;
    margin: 6% 0 0 12.8% ;
}
.but button:hover{
   background-color: rgba(255, 255, 255, 0);
   color: black;
}
.but:hover, a:hover{
  
  background-color: rgba(255, 255, 255, 0);
   
}
.but a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    
    
}
.but a:hover{
    color: black;
    background-color: red;
    height: 15pt;
    
}

@media (max-width: 1400px) {
    .but{
        margin: -3% 0 0 15%;
    }
}

@media (max-width:380px) {

    .but button{
        margin: 5% 0 0 28%;
        
      
    }
}