.navermenu1{
    float: left;
    display: flex;
    width: 5%;
    margin:2% 0 0 2%;
  
}
.loginA {
    display: flex;
    justify-content: space-around; 
    
    margin: 2.7%;
    width: 5em;
    

}

.loginA a {
    color: black;
    text-decoration: none;

}


/* Estilizado celular */
@media (max-width:600px){
    .navermenu1{
     display: none;
    }

  
}