/*parte do roda pe*/
.rodape{
    display: flex;
    left: 1%;
    margin:2% 0 0 10%;
    width: 40%;
} 

.rodape img{
    padding-left: 5%;
    margin-top: -10%;
    height: 1.8em;
   
}


@media (max-width:380px) {
    .rodape{
        display: flex;
        left: 1%;
        margin:2% 0 0 10%;
        width: 40%;
    } 
    .rodape img{
        padding-left: 5%;
        margin-top: 30%;
        height: 1.1em;
       
    }
}

@media (max-width:420px) {
    .rodape img{
        margin:40% 0 0 0;
        height: 2.2em;   
    }
    .rodape{
        display: flex;
        left: 1%;
        margin:2% 0 0 1%;
        width: 40%;
}
}